@import "tailwindcss";
@theme {
  --color-primary: #e6ba38;
  --color-secondary: #698ebf;
  --color-background: #efefef;
  
}
/* Force hover variants to work on all devices */
@custom-media --hover (hover: hover), (pointer: fine);
@custom-variant hover (&:hover);
@custom-variant group-hover (.group:hover &);
@custom-variant peer-hover (.peer:hover ~ &);

/* :root {
  --primary: #e6ba38
  --background: #ffffff;
  --foreground: #171717;
} */
