@import "tailwindcss";
@font-face {
  font-family: 'Nexa-Heavy';
  src: url('/fonts/Nexa-Heavy.ttf') format('truetype');
  font-weight: 900; /* Heavy weight */
  font-display: swap;
}

@font-face {
  font-family: 'Nexa';
  src: url('/fonts/Nexa-Extra-Light.ttf') format('truetype');
  font-weight: 400; /* Extra Light weight */
  font-display: swap;
}

@theme {
  --color-primary: #e6ba38;
  --color-secondary: #698ebf;
  --color-background: #efefef;

  
}
/* Force hover variants to work on all devices */
@custom-media --hover (hover: hover), (pointer: fine);
@custom-variant hover (&:hover);
@custom-variant group-hover (.group:hover &);
@custom-variant peer-hover (.peer:hover ~ &);



/* Set Nexa as default font */
/* body {
  font-family: 'Nexa', -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 200;  
}
h1,h2,h3 {
  font-family: 'Nexa-Heavy', -apple-system, BlinkMacSystemFont, sans-serif;
} */


/* :root {
  --primary: #e6ba38
  --background: #ffffff;
  --foreground: #171717;
} */

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* about us page */
.overlap-box {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 
              0 10px 10px -5px rgba(0, 0, 0, 0.04);
}